name: Publish Docker Image
on:
  push:
    tags:
      - v1

jobs:
  publish_image:
    name: Publish Image
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Publish Image
      uses: matootie/github-docker@v3.0.0
      with:
        tag: latest
        accessToken: ${{ github.token }}

    - name: Send message to Swit
      uses: roharon/action-swit@v1
      with:
        webhooks_url: ${{ secrets.WEBHOOKS_URL}}
